<h1>Add New Post</h1>
<hr>
<br>

<%= form_for @forum do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <br>
    <%= f.label :body %>
    <%= f.text_area :body, size: "50x10" %>
    <br>
    <%= f.submit 'Submit' %>
<% end %>