<h1>Add New Post</h1>
<br>
<div class="form-container">
    <%= form_for @forum do |f| %>
        <div class="form-group">
            <%= f.label :title %>
            <%= f.text_field :title, class: "form-control"  %>
        </div>
        <div class="form-group">
            <%= f.label :body %>
            <%= f.text_area :body, size: "50x10", class: "form-control"  %>
        </div>
        <%= f.submit 'Submit', class: "btn btn-warning" %>
    <% end %>
</div>