<br><%= link_to 'All Posts', forums_path %> <br>
<h2><%= @forum.title %></h2>

<div class="forum">
  <%= @forum.body %> <br>
</div>

<div class="container"> <br>
  <div class="addreply">
    <%= form_for [@forum, @answer] do |f| %>
      <%= f.text_area :body, :size =>"50x5" %> <br>
      <%= f.submit 'Add Reply', class: "btn btn-warning" %>
    <% end %>
  </div>
  <br>
  <div class="replies">
    <h4>Replies</h4><br>
    <ul>
      <% @answers.each do |answer| %>
        <li><%= answer.body %> <br>
        <%= answer.created_at %></li>
        <hr>
      <% end %>
    </ul>
  </div>
</div>