<%= link_to 'All Posts', forums_path %>
<br>
<h2> <%= @forum.title %></h2>
<br>
<p class="forum"> <%= @forum.body %></p>
<br>

<ul>
  <% @answers.each do |answer| %>
    <li><%= answer.body %>
    <%= answer.created_at %></li>
  <% end %>
</ul>

<br>
<br>
<%= form_for [@forum, @answer] do |f| %>
    <%= f.label :text %>
    <%= f.text_area :body %>
    <br>
    <%= f.submit 'Add Reply' %>
<% end %>