
    <h1 class="home"><%= image_tag "logo.png", :size => "300x250" %>&nbsp;&nbsp; Southern California Climbers' Go-To Resource &nbsp;&nbsp;</h1>
    <br>
    <hr>
    <br>
    <div class="toppics"> 
       <h4> Top 5 Pic </h4>
       <ul>
        <div class="pics"> <%= image_tag "1.jpg" %> </div>
           <%= image_tag "2.jpg" %>
           <%= image_tag "3.jpg"%>
            <%= image_tag "4.jpg" %>
    
    </ul>
    </div>
    <div class="toproutes"> 
            <h4> Top 5 Routes</h4>
            <ul>
                <li>Route 1 Name</li>
                <li>Route 2 Name</li>
                <li>Route 3 Name </li>
                <li>Route 4 Name</li>
                <li>Route 5 Name</li>
             </ul>
        </div>
