<h1>All Routes</h1>
<br>
<div class="container">
    <div class="users"><h4>
        <% if current_user && current_user.isAdmin == true %>
            <%= link_to 'New Route', new_route_path %>
        <% end %>
    </h4></div> 
    <div class="searchbar">
        <%= form_tag(routes_path, :method => "get", id: "search-form") do %>
            <%= text_field_tag :search, params[:search], placeholder: "Search Routes" %>
            <%= submit_tag "Search", :name => nil, class: "btn btn-warning" %>
        <% end %>
        <% if @routes.blank? %>
        <h4>There are no routes containing that word. <%= params[:search] %>.</h4>
        <% end %>
    </div>
    <br>
    <div class ="all">
    <ul class="allroutes">
        <% @routes.each do |route| %>
        <li class="routeidx"><%= link_to route.name, route_path(id: route.id) %></li>
        <% end %>
    </ul>
    </div>
</div>
<br>

