<%= link_to 'All routes', '/routes/' %>
<br>
<h1> <%= @route.name %></h1>
<br>
<hr>
<p> 
Rating: <%= @route.rating %> <br>
Difficulty: <%= @route.difficulty %> <br>
Type: <%= @route.route_type %> <br>
Pitches/Height: <%= @route.pitches %> <br>
</p>
Description <br><%= @route.description %> <br>
Pictures <br><%= @route.pictures %><br>

Comments <br>
add Comments
show comments

