<!DOCTYPE html>
<html>
  <head>
    <title>SoCal Senders</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
    <nav> 
        <div><%= image_tag 'logo.png', :size => '60x50' %></div>
        <div><%= link_to 'Home', root_path %></div>
        <div><%= link_to 'Routes', routes_path %></div>
        <div><%= link_to 'Pictures', pictures_path %></div>
        <div><%= link_to 'Forum', forums_path %></div>
        <div><a href="/pages/rating"> Rating Info </a></div>
        <div class="search"><input placeholder="Search"></input> <button>Go</button> </div>
    <div>
    <% if current_user %>
      Welcome, <%= current_user.name %>
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <%= link_to 'Log Out', session_path('dummy'), method: :delete %>
    <% else %>
      <%= link_to 'Log In', login_path %>
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <%= link_to 'Sign Up', new_user_path %>
    <% end %>
</div>
</nav>
<br>
<br>
    <%= yield %>
  </body>
</html>
